<div class="flex justify-content-center align-items-center full-page">
  <div class="glow-box">
    <router-outlet></router-outlet>
  </div>
  <div class="nav-top">
    <div class="corner-item top-right dropdown">
      <app-dropdown [icon]="'bi-list'"></app-dropdown>
    </div>
  </div>
  <div class="nav-bottom">
    <div class="corner-item bottom-right">
      <app-nav-button
        [icon]="'bi-linkedin'"
        [tooltip]="'View my LinkedIn profile'"
        [url]="'https://www.linkedin.com/in/tom-w-hunter/'"
      ></app-nav-button>
      <app-nav-button
        [icon]="'bi-envelope-at-fill'"
        [tooltip]="'Send me an email'"
        [url]="'mailto:tomhunter.dev@gmail.com'"
      ></app-nav-button>
      <app-nav-button
        [icon]="'bi-github'"
        [tooltip]="'View my GitHub profile'"
        [url]="'https://github.com/tomhuntx'"
      ></app-nav-button>
      <app-nav-button
        [icon]="'bi-gitlab'"
        [tooltip]="'View GitLab Repository'"
        [url]="'https://gitlab.com/toms-portfolio/portfolio'"
      ></app-nav-button>
      <app-nav-button
        [icon]="'bi-file-earmark-arrow-down-fill'"
        [tooltip]="'View my resume'"
        [url]="'assets/documents/Tom Hunter\'s Resume.pdf'"
      ></app-nav-button>
    </div>
    <div class="corner-item bottom-left legacy">
      <app-nav-button
        [icon]="'bi-archive-fill legacy-col'"
        [tooltip]="'View my legacy site'"
        [url]="'assets/legacy/index.html'"
      ></app-nav-button>
    </div>
  </div>
</div>
