.flex-column {
  flex-direction: column;
}

.corner-item {
  position: fixed;
  text-align: center;
  margin: 20px 20px;
  padding: 0;
  display: flex;
  flex-direction: row;
  min-width: 200px;
  padding: 20px;

  &.bottom-right {
    top: 84%;
    right: 4%;
  }

  &.bottom-left {
    top: 84%;
    left: 4%;
  }

  &.top-right {
    bottom: 84%;
    right: 4%;
    justify-content: right;
  }
}

.glow-box {
  background-color: var(--bg-secondary);
  margin-bottom: 40px;
  border-radius: 10px;
  position: relative;
}
