<div class="body-card">
  <div class="row body-title mobile-sticky">
    <h2>My Skills</h2>
  </div>
  <div class="row description-wrapper">
    <h3>My skills and experience</h3>
    <div class="description text">
      <div class="row section">
        <p>
          I have leant numerous programming languages, frameworks, libraries,
          strategies, and techniques throughout my 6 years of experience as a
          developer.
        </p>
      </div>
      <div class="row section">
        <h4 class="center">My Stack</h4>
        <div class="col box">Angular</div>
        <div class="col box">C# .NET</div>
        <div class="col box">SQL</div>
      </div>
      <div class="row">
        <h4>My Experience</h4>
        <ul>
          <li>
            Full-Stack Software Developer @ Magentus (Feb 2022 – Current)
            <p>
              Collaborated with clinical team members to develop and maintain
              the Charm Evolution oncology application for this global
              healthcare technology provider. Worked in an Agile environment
              using an Angular front-end, a C# .NET API, and SQL database
              integration. Specialised in this full-stack workflow, practiced
              effective collaboration, and studied cybersecurity, state, and
              modern coding conventions. Software Developer @ EB Games Australia
            </p>
          </li>
          <li>
            Software Developer @ EB Games Australia (Jul 2021 – Dec 2021)
            <p>
              Agile environment developing and maintaining features EB Games’
              applications, focusing on their ecommerce app for ebgames.com.au.
              Greatly enhanced my full-stack development experience and learned
              a variety of new skills. Game Designer & Developer @ National
              Colleges of Australia
            </p>
          </li>
          <li>
            Game Designer & Developer @ National Colleges of Australia (Jan 2021
            – Jul 2021)
            <p>
              Independently designed, developed, and published dozens of
              small-scale educational learning tools in Unity3D for this startup
              teacher aides company. Practiced design techniques, client
              interaction, Unity MLAPI networking, and self-management.
            </p>
          </li>
        </ul>
      </div>

      <p class="text-center footer">
        Check out my
        <app-link
          [url]="'assets/documents/Tom%20Hunter\'s%20Resume.pdf'"
          [text]="'resume'"
        ></app-link>
        for more info.
      </p>
    </div>
  </div>
</div>
