.charm-img {
  padding: 0;
  max-height: 400px;
  width: 100%;
  margin: auto;
  margin-bottom: 20px;
}

.charm-img-mobile {
  padding: 0;
  max-height: 400px;
  margin-bottom: 20px;
  width: auto;
  margin: auto;
  display: none;
  margin-bottom: 20px;
}

@media screen and (max-width: 800px) {
  .charm-img-mobile {
    display: block;
    max-height: 300px !important;
  }
  .charm-img {
    display: none;
  }

  .video-box {
    flex-direction: column !important;
    .video {
      max-width: unset !important;
    }
  }
}

.year-text {
  color: var(--text);
  opacity: 0.8;
}

.video-box {
  padding: 10px;
  display: flex;
  flex-direction: row;
  .video {
    max-width: 50%;
    padding: 0 50px;
    color: var(--tertiary);

    iframe {
      width: 480px;
      height: 270px;
      max-width: 100%;
    }
  }
}
