<div class="body-card">
  <div class="row body-title mobile-sticky">
    <h2>My Projects</h2>
  </div>
  <div class="row description-wrapper">
    <div class="description text">
      <div class="row section">
        <app-text-section>
          <h4>Mech AI Champion 5th Year Running</h4>
          <p>
            During my studies at QUT, I participated in a course-wide Mech AI
            combat tournament and won. Each student created their best
            artificial mech combat intelligence in the form of a C# script and
            submitted it for the tournament.
          </p>
          <p>
            This script was the only aspect of the mech that was allowed to be
            altered, all its weapons and abilities were set. Meaning the only
            difference between these Mech combatants are their programmed
            intelligence - their ability to react to input and produce a
            response.
          </p>
          <p>
            My Mech AI "BEEP-X" won this round-based championship in 2020. There
            was then a bonus round where my mech fought the champions from the
            previous 3 years - and my mech won this match as well.
          </p>
          <p>
            Since then, this same tournament has been held each year, with a new
            champion each time. Each year there is also a bonus round, where
            these mech AI's would take on BEEP-X and the other champions.
            <strong
              >BEEP-X has beaten every contender it has fought for the past 5
              years</strong
            >.
          </p>
          <div class="video-box">
            <div class="video">
              <h5>The "All-Star" match from 2024:</h5>
              <iframe
                src="https://www.youtube.com/embed/BsMO9ms_wvw?si=9EZ9If7d_Ju8k_vX&amp;start=1841"
                frameborder="0"
                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen=""
              ></iframe>
            </div>
            <div class="video">
              <h5>The original tournament from 2020:</h5>
              <iframe
                src="https://www.youtube.com/embed/ir_fWFE7Hyw?start=3132"
                frameborder="0"
                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen=""
              ></iframe>
            </div>
          </div>
          <p>
            This achievement showcases more than my programming ability, it
            shows my dedication to perfecting my work. It shows my ability to
            analyze a problem, establish solution criteria, build a solution,
            and fine-tune this solution until it does its job to the best of my
            ability.
          </p>
        </app-text-section>
      </div>
      <div class="row section">
        <app-text-section>
          <h4>Integrating Azure API and Database</h4>
          <p>
            I came up with this project idea to showcase my API and SQL
            abilities and to gain more experience using Azure, especially as an
            individual. Currently I have created and hosted a C# .NET API on
            Azure and this site can query this API publicly. See the network tab
            to see that I have established this connection.
          </p>
          <ul>
            Todo:
            <li>Host SQL server on Azure</li>
            <li>Add SQL integration to API</li>
            <li>Visually showcase interactions on webpage</li>
          </ul>
        </app-text-section>
      </div>
      <div class="row section">
        <app-text-section>
          <h4>Recent Studies</h4>
          <ul>
            <li>Cybersecurity (in web development)</li>
            <li>Angular 17 control flow and conventions</li>
            <li>RxJS operators and new ways to handle observables</li>
            <li>Angular NgRx actions, reducers, and effects</li>
            <li>Microsoft Azure Fundamentals course</li>
          </ul>
        </app-text-section>
      </div>
      <div class="row section">
        <h4>This Portfolio Website</h4>
        <p>
          Built to showcase my skills for all future prospective recruiters.
        </p>
        <ul>
          <li>Built using Angular 17</li>
          <li>
            <span>Hosted on </span>
            <app-link
              [url]="'https://gitlab.com/toms-portfolio/portfolio'"
              [text]="'GitLab'"
            >
            </app-link>
          </li>
          <li>Automatic builds and deployments</li>
        </ul>
      </div>
      <div class="row section">
        <app-text-section>
          <h4>
            Magentus:
            <app-link
              [url]="'https://www.magentus.com/clinical-systems/oncology'"
              [text]="'Charm Evolution'"
            >
            </app-link>
          </h4>
          <p>
            Magentus is a global health technology company who provides clinical
            systems, practice management software and health informatics. I have
            worked here for over 2 years on their oncology application "Charm
            Evolution."
          </p>
          <p>
            I've been a part of the team to migrate our existing localised
            desktop application to a server-hosted web application. I've been
            working on migrating these features, implementing new features, and
            fixing any defects that arise.
          </p>
          <p>The stack of Charm Evolution:</p>
          <img
            src="assets/img/charm.png"
            alt="Charm Evolution"
            class="charm-img"
          />
          <img
            src="assets/img/charm-mobile.png"
            alt="Charm Evolution"
            class="charm-img-mobile"
          />
          <p>This team uses:</p>
          <ul>
            <li>Agile structure of biweekly sprints</li>
            <li>
              <app-link
                [url]="'https://www.atlassian.com/software/jira'"
                [text]="'Jira'"
              ></app-link>
              to track features and implementations
            </li>
            <li>Git for version control</li>
            <li>
              <app-link
                [url]="'https://bitbucket.org/product'"
                [text]="'Bitbucket'"
              ></app-link>
              for pull-requests and branch management
            </li>
            <li>
              Daily stand-ups, weekly estimations, biweekly retrospectives
            </li>
          </ul>
        </app-text-section>
      </div>

      <div class="row section">
        <app-text-section>
          <h4>
            EB Games (HQ):
            <app-link
              [url]="'https://www.ebgames.com.au'"
              [text]="'ebgames.com.au'"
            ></app-link>
          </h4>
          <p>
            EB Games is Australia's top video game, consumer electronics, and
            gaming merchandise retailer, with their website generating over 1
            million views per month. I worked at their head office in Brisbane
            on their ecommerce application which is hosted on their website as
            well as
            <app-link
              [url]="'https://zingpopculture.com.au'"
              [text]="'Zing Pop Culture'"
            ></app-link
            >.
          </p>
          <p>
            I worked on numerous features across their app with a focus on the
            web front-end and API business features. My most notable examples
            are many featues of their product page and homepage overhaul.
          </p>
        </app-text-section>
      </div>
      <p class="text-center footer">
        If you're interested in my work in game development, see my
        <app-link
          [url]="'assets/legacy/projects.html'"
          [text]="'past projects'"
        ></app-link
        >.
      </p>
      <p class="text-center footer">
        Or check out my
        <app-link
          [url]="'assets/documents/Tom%20Hunter\'s%20Resume.pdf'"
          [text]="'resume'"
        ></app-link>
        for more info.
      </p>
    </div>
  </div>
</div>
