/* css base made with assistance of https://webdesign.tutsplus.com/tutorials/build-a-static-portfolio-with-advanced-css-bar-chart--cms-33050 */


/* All */

:root {
    --title-text: #1b7df5;
    --subtitle-text: #5eccff;
    --text: white;

    --bg-main: #1e2124; 
    --bg-sub: #33354d;
    --links: #bf4fff;
    
    --nav: white;
    --nav-hover: #5ecdff;
    --nav-here: #1a79ed;
    
    --blue: #0090f0;
    --orange: #F29829;
    --purple: #a200ff;
    
    --gray: #cbcfd3;
    --white: #ffffff;
    --black: #1a1a1a;
    --lightwhite: whitesmoke;
    --lightblue: #009dd3;
    --peach: #ff9469;
    --transition-delay: 0.3s;
    --transition-delay-step: 0.3s;
    --skills-width: 120px;
}

/* Scrollbar Adjustments */

::-webkit-scrollbar {
    width: 3px;
    background: var(--bg-main);
}

::-webkit-scrollbar-thumb {
    background: rgba(50, 70, 200, 0.4);
}

/* Image Zooming */

img .img-zoom {
    transition: transform 0.25s ease;
}

img .img-zoom:active {
    -webkit-transform: scale(2);
    transform: scale(2);
}


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
}

.d-block {
    display: block;
}

.d-flex {
    display: flex;
}

.flex-1 {
    flex: 1;
}

.flex-column {
    flex-direction: column;
}

.flex-row {
    flex-direction: row;
}

.justify-content-center {
    justify-content: center;
}

.justify-content-between {
    justify-content: space-between;
}

.nav-list {
    text-align: center;
    margin: auto;
    justify-content: center;
}

.page-header .nav-list {
    color: var(--nav);
}

/* Navlist */
.nav-list li {
    margin: 0px 5px;
    border-bottom: 2px solid transparent;    
    transition: all .2s ease-in;
}
.nav-list li:hover {
    color: var(--nav-hover);
}

#nav-here {
    color: var(--nav-here);
}

.align-items-center {
    align-items: center;
}

.align-items-end {
    align-items: flex-end;
}

.flex-grow-1 {
    flex-grow: 1;
}

.equal-list {
    height: 300px;
    width: 20%;
}

.vh-100 {
    height: 100vh;
}

.vh-27 {
    height: 30vh;
}

.h-20 {
    height: 20px;
}

.vh-main {
    height: auto;
}

.notmain {
    padding-top: 35px;
}

.text-cont {
    margin: 20px 20vw 20px 20vw;
}

.position-relative {
    position: relative;
}

.position-absolute {
    position: absolute;
}

.position-fixed {
    position: fixed;
}

.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}

.text-white {
    color: #f2f2f2;
}

.subtitle-colour {
    color: var(--subtitle-text);
}

.title-colour {
    color: var(--subtitle-text);
}

.blue {
    color: var(--blue);
}

.text-links {
    color: var(--links);
}

.image-table {
    width: 100%;
}

.text-list-inside {
    list-style-position: inside;
}

.list-full {
    padding: 0 30%;
}

.text-list-margin {
    margin-left: 10%;
}

.text-list-margin-large {
    margin-left: 18%;
}

.text-list li {
    padding-bottom: 15px;
}


ul.arrow {
	line-height: 1.5em;
}
ul.arrow li {
    list-style: none;
    position: relative;
    padding: 0 0 10px 30px;
}

/* Arrow by Justin Brown on Codepen: https://codepen.io/hajududat/pen/mAxNXV */
ul.arrow li::before {
    content: "";
    position: absolute;
    left: 0;
    top: 1.05vh;
    height: 1.3vh;
    width: 1.3vh;
    border: 1px solid var(--blue);
    border-width: 5px 5px 0 0;
    transform: rotate(45deg);
}

.textgap {
    padding-top: 6vh;
}

.largegap {
    padding-top: 20vh;
}

.projectgap {
    padding-top: 10vh;
}

.smallgap {
    padding-top: 5vh;
}

.tinygap {
    padding-top: 2vh;
}

.gapbottom {
    padding-bottom: 50px;
}

.gaptop {
    padding-top: 50px;
}

.gapbottoml {
    padding-bottom: 25vh;
}

.gapbottoms {
    padding-bottom: 30px;
}

.marginsides {
    margin-left: 20px;
    margin-right: 20px;
}

.bg-main {
    background: var(--bg-main);
}

.bg-grey {
    background: #e3e3e3;
}

.txt-white {
    color: var(--white);;
}

.bg-sub {
    background: var(--bg-sub);
}

.i {
    font-style: italic;
}

.textimg {
    box-sizing: none;
    float: left;
    margin: 15px;
}

.textimgr {
    box-sizing: none;
    float: right;
    margin: 15px;
}

.notop {
    margin-top: 0;
}

.frontimg {
    position: absolute;
    left: 12%;
    top: 41vh;
    padding: 7px;
    z-index: 10;
    height: 60vh;
    width: auto;
}

.tableimg {
    width: 45%;
    margin: 2.5%;
    height: 250px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

.column {
  flex: 50%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
}

.h1 {
    font: 1rem/1.2 "Hind Guntur", sans-serif;
    font-size: 3.5rem;
    font-weight: 500;
    color: var(--title-text);
}

.h12 {
    font: 1rem/1.2 "Hind Guntur", sans-serif;
    font-size: 3.2rem;
    font-weight: 500;
    color: var(--title-text);
}

.h2 {
    font: 1rem/1.2 "Hind Guntur", sans-serif;
    font-size: 2.7rem;
}

.h3 {
    font: 1rem/1.2 "Hind Guntur", sans-serif;
    font-size: 2rem;
    line-height: 1.1;
}

.h4 {
    font: 1rem/1.2 "Lucida Console", Monaco, monospace;
    font-size: 1.3rem;
    padding: 10px;
}

.h5 {
    font-size: 1.2rem;
}

.h1padding {
    padding-bottom: 100px;
}

.text {
    color: var(--text);
    font-size: 1.05rem;
    width: 650px;
    padding: 20px;
    line-height: 1.4;
}

.text-blog {
    font-size: 0.9rem;
    width: 800px;
    padding: 20px;
    line-height: 1.3;
    padding-top: 0;
}

.text-half {
    font-size: 1.2rem;
    width: 450px;
    padding: 5px 20px;
    line-height: 1.3;
}

.col {
    width: 1%;
}

.smalltext {
    font-size: 0.9rem;
    line-height: 1.2;
}

.text-large {
    width: 800px;
}

.text-small {
    font-size: 1.05rem;
    line-height: 1.3;
}

.references {
    font-size: 0.7rem;
    line-height: 1.2;
    color: lightgrey;
}

.nested-list {
    margin-left: 20px;
}

.text-full {
    width: 100%;
}

.text-experience {
    font-size: 1.3rem;
}

.b {
    font-weight: 600;
}

.notb {
    font-weight: normal;
    color: var(--text);
}

#gpa {
    color: #0db2ff;
    font-weight: 600;
}

body {
    font: 1rem/1.2 'Roboto Mono', monospace;
    color: var(--text);
    background: var(--bg-sub);
}


/* HEADER */

.page-header {
    left: 0;
    right: 0;
    top: 0;
    padding: 7px;
    z-index: 20;
}

.shadow {
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.4);
}

.page-header .logo {
    font-size: 2rem;
    color: var(--nav);
    padding-left: 10px;
}

.page-header .logo:hover {
    color: var(--nav-hover);
}

.page-header li:not(:last-child) {
    margin-right: 15px;
}

.page-header a {
    font-size: 1.1rem;
    padding: 0;
    margin: 0;
}

.scroll-down {
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    text-transform: uppercase;
    transition: all 0.5s;
    color: var(--nav);
}

.scroll-down.is-hidden {
    opacity: 0;
    visibility: hidden;
}

.scroll-down::after {
    content: "";
    display: block;
    margin: 12px auto 0;
    width: 1.5px;
    height: 32px;
    background: var(--nav);
    transform-origin: bottom;
    animation: pulse 1s infinite linear;
}

/* ABOUT ME */

.about {
    margin: 100px;
    margin-bottom: 0;
}

/* Resume */

.resume {
    border: 2px solid var(--bg-main);
    box-shadow: 2px 6px 8px rgb(0, 0, 0, 0.3);
}

.pointer img:hover {
    cursor: pointer;
}

/* BG IMG - UNUSED */

.bg-img {
    background: #fff url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/210284/code-wp.jpg) no-repeat center / cover;
}

.bg-img::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    width: 7rem;
    background: var(--bg-sub);
    transform: skew(-5deg);
    transform-origin: left bottom;
}


/* CHART */

.chart-wrapper {
    width: 95%;
    max-width: 500px;
    margin-right: 100px;
    margin-top: 15px;
}

.no-list {
    list-style: none;
}

.chart-wrapper .chart-skills li::before,
.chart-wrapper .chart-skills li::after,
.chart-wrapper .chart-skills2 li::before,
.chart-wrapper .chart-skills2 li::after {
    content: "";
    position: absolute;
    top: 25%;
    left: var(--skills-width);
    height: 50%;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    z-index: 2;
}

.chart-wrapper .chart-skills li::after,
.chart-wrapper .chart-skills2 li::after {
    width: calc(98% - var(--skills-width));
    background: rgba(151, 151, 151, 0.2);
}

/* CHART 1 */

.chart-wrapper .chart-skills li::before {
    width: 0;
    background: #0090f0;
    z-index: 5;
    transition: width 1s ease-out;
}
.chart-wrapper.in-view .chart-skills li:nth-child(1)::before {
    width: calc(90% - var(--skills-width));
    transition-delay: var(--transition-delay);
}
.chart-wrapper.in-view .chart-skills li:nth-child(2)::before {
    width: calc(80% - var(--skills-width));
    transition-delay: calc( var(--transition-delay) + var(--transition-delay-step));
}
.chart-wrapper.in-view .chart-skills li:nth-child(3)::before {
    width: calc(75% - var(--skills-width));
    transition-delay: calc( var(--transition-delay) + var(--transition-delay-step) * 2);
}
.chart-wrapper.in-view .chart-skills li:nth-child(4)::before {
    width: calc(63% - var(--skills-width));
    transition-delay: calc( var(--transition-delay) + var(--transition-delay-step) * 3);
}
.chart-wrapper.in-view .chart-skills li:nth-child(5)::before {
    width: calc(58% - var(--skills-width));
    transition-delay: calc( var(--transition-delay) + var(--transition-delay-step) * 4);
}

/* CHART 2 */

.chart-wrapper .chart-skills2 li::before {
    width: 0;
    background: var(--purple);
    z-index: 5;
    transition: width 1.5s ease-out;
}
.chart-wrapper.in-view .chart-skills2 li:nth-child(1)::before {
    width: calc(91% - var(--skills-width));
    transition-delay: var(--transition-delay);
}
.chart-wrapper.in-view .chart-skills2 li:nth-child(2)::before {
    width: calc(83% - var(--skills-width));
    transition-delay: var(--transition-delay);
}
.chart-wrapper.in-view .chart-skills2 li:nth-child(3)::before {
    width: calc(78% - var(--skills-width));
    transition-delay: calc( var(--transition-delay) + var(--transition-delay-step));
}
.chart-wrapper.in-view .chart-skills2 li:nth-child(4)::before {
    width: calc(71% - var(--skills-width));
    transition-delay: calc( var(--transition-delay) + var(--transition-delay-step) * 2);
}
.chart-wrapper.in-view .chart-skills2 li:nth-child(5)::before {
    width: calc(66% - var(--skills-width));
    transition-delay: calc( var(--transition-delay) + var(--transition-delay-step) * 3);
}

.chart-wrapper .chart-skills span,
.chart-wrapper .chart-skills2 span {
    display: inline-block;
    width: var(--skills-width);
    padding: 15px;
    text-align: right;
    width: 160px;
    margin-left: -30px;
}


.chart-wrapper .chart-levels {
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    padding-left: var(--skills-width);
}

.chart-wrapper .chart-levels li {
    border-right: 1px solid rgba(211, 211, 211, 0.3);
}

.chart-wrapper .chart-levels li:last-child {
    border-right: 0;
}

.chart-wrapper .chart-levels span {
    bottom: 0;
    transform: translateY(40px) translateX(10px) rotate(25deg);
    padding: 10px;
    width: 100%;
}

/* Game Images (for projects) */

.gameimg-row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 5px;
}

.gameimg-column {
    flex: 25%;
    padding: 0 7px;
}

.gameimg-column-third {
    flex: 50%;
    padding: 0 7px;
}

.gameimg-column img {
    margin-top: 14px;
    vertical-align: middle;
}

.gameimg-container {
    position: relative;
    width: 100%;
    max-width: 300px;
}

.gameimglarge-container {
    position: relative;
    width: 100%;
    max-width: 456px;
    margin: 5px;
}

.gameimg-container img,
.gameimglarge-container img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    border: 2px solid var(--bg-main);
    box-shadow: 1px 5px 6px var(--bg-main);
}

.nobord img {
    border: none;
    box-shadow: none;
}

/* Button base */
.gameimg-container .btn, 
.gameimglarge-container .btn {
    position: absolute;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat; 
    
    font-family: monospace;
    color: transparent;
    font-size: 10px;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    text-align: center;
    
    /* DISABLED */
    visibility: hidden;
}
.btn:hover {
    opacity: 0.8;
}
.btn:active {
    opacity: 0.6;
}

/* Play game button */
.play-btn {
    width: 26px;
    height: 26px;
    top: 0;
    right: 0;
    margin: 40px 0px 20px 20px;
    background: transparent;
    background-image: url(img/icons/play-white.png);
}

/* Download button */
.dld-btn {
    width: 25px;
    height: 25px;
    top: 0;
    right: 0;
    margin: 40px 40px 20px 20px;
    background: transparent;
    background-image: url(img/icons/download-white.png);
}

/* Youtube button */
.yt-btn {
    width: 30px;
    height: 30px;
    top: 0;
    right: 0;
    margin: 40px 0px 20px 20px;
    background: transparent;
    background-image: url(img/icons/youtube-play-white.png);
}

.gameimg-container .btn:hover {
  color: white;
}

.nav-detach-point {}

.date {
    font: 1rem/1.2 'Roboto Mono', monospace;
    color: var(--links);
    padding: 10px;
    padding-bottom: 15px;
}

/* Link button from https://codepen.io/simonbusborg/pen/cyxad */

.button-container {
    display: flex;
    margin: 15px auto;
    flex-wrap: wrap;
    justify-content: center;
}

.button {
    outline: none;
    display: flex;
    overflow: hidden;

    margin: 10px;
    padding: 10px 12px;

    cursor: pointer;
    user-select: none;
    transition: all 150ms linear;
    text-align: center;
    white-space: nowrap;
    text-decoration: none !important;
    text-transform: none;
    text-transform: capitalize;

    color: #fff;
    border: 0 none;
    border-radius: 36px;

    font-size: 15px;
    font-weight: 500;
    line-height: 1.3;

    -webkit-appearance: none;
    -moz-appearance:    none;
    appearance:         none;

    justify-content: center;
    align-items: center;
    flex: 0 0 160px;

    box-shadow: 2px 5px 10px var(--bg-main);
}

.button-long {
    padding: 14px 120px;
    font-size: 12px;
}

.button:hover {
    transition: all 150ms linear;
    opacity: .75;
}
.button:active {
    transition: all 150ms linear;
    opacity: .5;
    outline: none;
}
.button:focus {
    outline: 1px dotted #959595;
    outline-offset: -4px;
    outline: none;
}
.button.-blue {
    color: white;
    background: #0071bd;
}
.button.-black {
    color: black;
    background: #e8e8e8;
}

/* Image overlay by C U on codepen: https://codepen.io/-cu-/pen/gOaKNbM */

.overlay-outer {
  position: relative;
  overflow: hidden;
}

.overlay {
    background: rgba(0,0,0,0.6);
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    opacity: 0;
    transition: all 0.4s ease-in-out 0s;
    margin-top: 1px;
}

.gameimg-container .overlay {
    margin-top: 13px;
}

a:hover .overlay {
    opacity: 1;
}

.content-details {
  position: absolute;
  text-align: center;
  padding-left: 1em;
  padding-right: 1em;
  width: 100%;
  top: 50%;
  left: 50%;
  opacity: 0;
  transform: translate(-50%, -50%);
  transition: all 0.3s ease-in-out 0s;
}

.overlay-outer:hover .content-details {
    top: 50%;
    left: 50%;
    opacity: 1;
}

.content-details h5 {
    font-size: 1.2rem;
    font-weight: 500;
    letter-spacing: 0.1em;
    margin-bottom: 0.5em;
}

.content-details p {
    color: #fff;
    font-size: 0.8em;
    padding: 0 5%;
}

.fadeIn_bottom {
  top: 80%;
}

.content-text {
    font-size: 0.9rem;
}

.content-text-large {
    font-size: 1rem;
    padding: 0 20%;
}


/* Socials */

#socials {
    position: absolute;
    right: 3%;
    top: 84%;
    padding: 0;
    margin: 20px 10px;
    text-align: center;
}

#socials-middle {
    position: absolute;
    top: 75%;
    padding: 0;
    margin: 20px 10px;
    text-align: center;
    display: flex;
}

#socials-bottom {
    position: absolute;
    right: 3%;
    bottom: 5%;
    padding: 0;
    margin: 20px 10px;
    text-align: center;
}

#socials-bottomleft {
    position: absolute;
    left: 3%;
    top: 84%;
    padding: 0;
    margin: 20px 10px;
    text-align: center;
    align-content: center;
}

.center {
    margin: auto;
    padding: 10px;
}

.socials-btn { 
    display: inline-block;
    position: relative;
    cursor: pointer;
    width: 40px;
    height: 40px;
    padding: 0;
    border-radius: 27px;
    background-position: center;
    background-repeat: no-repeat; 
}

.twitter-btn {
    background-image: url(img/icons/twitter-colour.png);
    background-size: 90%;
}
.itchio-btn {
    background-image: url(img/icons/custom-itchio.png);
    background-size: 95%;
}
.github-btn{
    background-image: url(img/icons/github.png);
    background-size: 70%;
}
.linkedin-btn{
    background-image: url(img/icons/linkedin-colour.png);
    background-size: 90%;
}
.discord-btn {
    background-image: url(img/icons/discord.png);
    background-size: 95%;
    cursor: default;
}

/* Read More by Mahtab Alam on codepen https://codepen.io/mahtab-alam/pen/aPKLBq */

.data_more_less_inner {overflow: hidden; margin-bottom: 10px; position: relative;}
.action_less {display: none;}
.less_active .action_less {display: inline-block;}
.less_active .action_more {display: none;}
.data_more_less:not(.less_active):not(.action_disabled) .data_more_less_inner:after {content: ''; display: block; position: absolute; bottom: 0; left: 0; width: 100%; background: -moz-linear-gradient(top, rgba(43, 58, 92,0) 0%, rgba(43, 58, 92,1) 100%);
background: -webkit-linear-gradient(top, rgba(51, 53, 77,0) 0%,rgba(51, 53, 77,1) 100%);
background: linear-gradient(to bottom, rgba(51, 53, 77,0) 0%,rgba(51, 53, 77,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=0 ); height: 80px;}
.data_more_less.action_disabled .more_less_action {display: none;}
.btn {color: var(--subtitle-text); text-decoration: none; padding: 0px 15px;}

/* Blinker - by Ricardo Zea on Codepen: https://codepen.io/ricardozea/pen/myEyMR */

.blinker { 
  animation-name: blinker;
  animation-iteration-count: infinite;
  animation-timing-function: cubic-bezier(1,0,0,1);
  animation-duration: 1s;
  display: inline-block;
  width: 0.1rem;
  height: 1.85rem;
  margin-left: 2px;
  margin-bottom: -3px;
  border-radius: 2px;
  box-shadow: 0 0 10px rgba(white,.3);
  background: white;
}

@keyframes blinker { 
  from { opacity: 1.0; } to { opacity: 0.0; }
}

/* ANIMATIONS */

@keyframes pulse {
    0% {
        transform: scaleY(1);
    }
    50% {
        transform: scaleY(0.65);
    }
    100% {
        transform: scaleY(1);
    }
}


/* MQ */

@media screen and (max-width: 980px) {
    .bg-img {
        display: none;
    }
    img:active {
        -webkit-transform: none;
        transform: none;
    }
    .frontimg {
        position: absolute;
        left: 2%;
        top: 56vh;
        padding: 7px;
        z-index: 10;
        height: 45vh;
        width: auto;
    }
    .text {
        width: 90%;
        padding: 5px 0px 5px 0px;
    }
    .text-large {
        width: 90%;
    }
    .text-cont {
        margin: 10px;
    }
    .tableimg {
        width: 95%;
        height: 225px;
    }
    .text-half {
        width: 99%;
    }
    .text-half .text-small {
        padding: 0px 20px 0px 20px;
        margin: 0;
    }
    ::-webkit-scrollbar {
        width: 0px;
        background: var(--sub-background);
    }
    .flex-row {
        flex-direction: column;
    }
    .text-blog {
        width: 90%;
        padding-top: 0;
    }
    .gameimglarge-container .content-details {
        top: 50%;
        left: 50%;
        opacity: 1;
    }
    .gameimglarge-container .overlay {
        opacity: 0.4;
    }
   .gameimg-container .content-text {
        visibility: hidden;
    }
    .gameimg-container .content-details {
        bottom: 60%;
        left: 50%;
    }
    .text-list li { 
        padding-bottom: 8px;
    }
        .gameimglarge-container {
        position: relative;
        width: 99%;
        align-self: center;
            max-width: 1000px;
    }
        .gameimg-column-half {
            
        padding-left: 15%;
        padding-right: 15%;
    }
}

@media screen and (max-width: 600px) {
    html {
        font-size: 12px;
    }
    .date {
        font-size: 12px;
    }
    .page-header li:not(:last-child) {
        margin-right: 5px;
    }
    .socials-btn { 
        width: 30px;
        height: 30px;
    }
    .gameimg-column-half {
        flex-basis: 100%;
        padding-left: 0;
        padding-right: 0;
    }
    .gameimg-column {
        flex-direction: column;
    }
    .gameimg-container {
        position: relative;
        width: 100%;
        max-width: 200px;
    }
    .gameimglarge-container {
        position: relative;
        width: 98%;
    }
    .gameimg-column-third:first-of-type {
        margin-bottom: 10px;
    }
    .play-btn, .dld-btn { 
        visibility: hidden;
        margin: 0;
    }
    .button {
        padding: 10px 2px;
        font-size: 12px;
    }
    .button-long {
        padding: 12px 100px;
        font-size: 12px;
    }
    .textimg, .textimgr {
        width: 80%;
        float: left;
        margin: 5px 10%;
    }
    .chart-wrapper {
        min-width: 300px;
    }
    .chart-holder {
        width: 100%;
    }
    .scroll-down {
        visibility: hidden;
    }
    .text-list-margin {
        margin-left: 10%;
    }
}