<p class="robot-report">{{ report }}</p>
<form
  [formGroup]="commandForm"
  (ngSubmit)="submitCommand()"
  class="command-container"
>
  <textarea formControlName="command" type="text"></textarea>
  <button class="button" type="submit">Submit</button>
</form>
<p class="robot-error">{{ error }}</p>
