.command-container {
  display: flex;
  justify-content: center;

  textarea {
    background: var(--bg-primary);
    color: var(--text);
    border: 2px solid var(--text);
    margin: 12px;
    padding: 5px;
    height: 45px;
    min-height: 45px;
    max-height: 200px;
  }

  button {
    background-color: var(--bg-primary);
    border: 2px solid var(--text);
    border-radius: 20px;
    margin: 10px;
    padding: 10px 30px;
    max-height: 45px;
    color: var(--text);

    &:hover {
      background-color: var(--primary);
    }

    &:active {
      opacity: 0.8;
    }
  }
}

.robot-report {
  color: var(--primary);
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.robot-error {
  padding: 10px;
  color: red;
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

@media screen and (max-width: 800px) {
  .command-container {
    textarea {
      width: 30vw;
      z-index: 1;
    }

    button {
      z-index: 1;
    }
  }
}
