.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  margin: 10px 50px 10px 50px;
  width: 500px;
  height: 500px;
  min-height: 500px;

  div {
    height: 100%;
    width: 100%;
    padding: 5px;
    display: flex;

    .grid-item {
      background-color: var(--bg-primary);
      border: 2px solid var(--primary);
      font-size: 30px;
      text-align: center;
      justify-content: center;
      align-items: center;
      color: gray;
    }
  }
}

.instructions-container {
  margin: 30px 50px;
}

@media screen and (max-width: 800px) {
  .grid-container {
    width: 300px;
    height: 300px;
    min-height: 300px;

    .grid-item {
      font-size: 20px !important;
    }
  }

  .instructions-container {
    margin-top: 13vh;
  }
}
