<div class="instructions-container">
  <h3>Toy Robot Assessment</h3>
  <p>
    See:
    <app-link
      [text]="'Instructions'"
      [url]="'https://dev.azure.com/pioneercredit/Toy%20Robot%20Assessment'"
    ></app-link>
  </p>
</div>
<div class="grid-container">
  <div *ngFor="let tile of tiles">
    <ng-container *ngIf="tileHasRobot(tile); else empty">
      <div class="grid-item">
        <app-robot [direction]="robotPosition.f"></app-robot>
      </div>
    </ng-container>
    <ng-template #empty>
      <div class="grid-item">
        {{ tile.y }}
        {{ tile.x }}
      </div>
    </ng-template>
  </div>
</div>
<app-robot-command
  [robotPosition]="robotPosition"
  (moveRobot)="moveRobot($event)"
></app-robot-command>
