.text-section {
  .content:not(.show) {
    height: 100px;
    margin-bottom: 5px;
    -webkit-mask-image: linear-gradient(180deg, #000 50%, transparent);
    overflow-y: hidden;
  }
  cursor: pointer;

  .read-more {
    font-size: smaller;
    color: var(--tertiary);
  }
}
