<div class="text-section" (click)="showMore = !showMore">
  <div class="content" [class.show]="showMore">
    <ng-content></ng-content>
  </div>
  <div class="read-more" *ngIf="!showMore">Read More</div>
</div>
