.dropdown {
  display: inline-block;
  font-size: 40px;
  padding: 0;
  height: 55px;

  &:hover {
    color: var(--secondary);
  }

  &:active {
    color: var(--primary);
    border-color: transparent;
  }

  &::after {
    display: none;
  }

  &::before {
    padding: 4px;
  }
}

.dropdown-menu {
  background: rgba(0, 0, 0, 0.3);
  border: 1px solid white;
  text-align: right;
  min-width: fit-content;
  z-index: 1;

  .dropdown-item {
    background: none;
    width: 100%;
    color: var(--text);
    font-size: 18px;
    &:hover {
      color: var(--secondary);
    }
    &:active {
      color: var(--primary);
    }
  }
}

.selected {
  color: var(--primary) !important;
  font-weight: bold;
}
