h1 {
  font: 5rem/1.2 "Orbitron", sans-serif;
  font-weight: 700;
  margin-bottom: 1.5rem;

  line-height: 1;
  color: var(--primary);
}

h2 {
  font: 3rem/1.2 "Orbitron", sans-serif;
  font-weight: 500;
  color: var(--primary);
}

h3 {
  font: 1.5rem/1.2 "Roboto", sans-serif;
  font-weight: 400;
  color: var(--secondary);
}

h4 {
  font: 1.3rem/1.3 "Roboto", sans-serif;
  color: var(--secondary);
}

h5 {
  font-size: 1rem;
}

body {
  font: 1rem/1.2 "Roboto Mono", monospace;
  color: var(--text);
  background-color: var(--bg-primary);
  background-image: url("^assets/img/cubes-bg.png");
}

.text {
  color: var(--text);
  font-size: 1rem;
  line-height: 1.6;
}

.text-title-page {
  color: var(--text);
  font-size: 1.1rem;
  line-height: 1.6;
}

:root {
  --bg-primary: #1c212e;
  --bg-secondary: #151b24;
  --primary: #007bff;
  --secondary: #00eaff;
  --text: #f0f0f0;
  --legacy: #999999;
  --tertiary: #b145ff;
}

.body-card {
  padding: 50px;
  width: 60vw;
}

.description-wrapper {
  -webkit-mask-image: linear-gradient(180deg, #000 80%, transparent);
  overflow-y: scroll;
  max-height: 60vh;
  padding-bottom: 20px;
}

.description {
  padding: 30px 0 80px 0;
  p,
  ul {
    padding-bottom: 5px;
  }

  .row,
  .col {
    margin: 0;
  }

  h4 {
    padding-top: 10px;
  }

  .section {
    padding-bottom: 30px;
  }
}

ul {
  list-style-type: none;
  padding-left: 1rem;
}

li {
  grid-template-columns: 20px auto;
  justify-content: start;
  align-items: center;
  display: inline-block;
  width: 100%;
  &::before {
    content: "➤";
    padding-right: 10px;
    color: var(--tertiary);
  }
}

.footer {
  padding-top: 40px;
}

// Mobile
@media screen and (max-width: 800px) {
  h1 {
    font-size: 2.4rem;
  }
  h2 {
    font-size: 1.6rem;
  }
  h3 {
    font-size: 1.1rem;
  }
  h4 {
    font-size: 1rem;
  }
  .text {
    font-size: 0.9rem;
    line-height: 1.6;
  }
  .text-title-page {
    font-size: 0.9rem;
    line-height: 1.6;
  }
  body {
    background: var(--bg-secondary) !important;
  }
  .full-page {
    height: 100% !important;
  }
  .title-card {
    width: 100% !important;
    padding: 40px !important;
    margin-top: 35%;
  }
  .glow-box {
    background: none !important;
    border: none !important;
    box-shadow: none !important;
    position: absolute;
    top: 0;
    &.title-card {
      top: 50%;
    }

    &::after,
    &::before {
      display: none;
    }
  }
  .corner-item {
    padding: 10px !important;
    margin: 10px !important;
    z-index: 2;

    &.bottom-right {
      right: unset !important;
      bottom: 5% !important;
      display: flex;
    }
  }
  .top-right {
    bottom: 0 !important;
    top: 0;
  }
  .body-card {
    width: 100% !important;
    padding: 0 30px !important;
    .body-title {
      top: 0;
      width: fit-content !important;
      z-index: 1;
      padding-top: 2.5em;
    }
    .description {
      padding-top: 20px !important;
      margin-bottom: 140px !important;
      .section {
        padding-bottom: 10px !important;
      }
      .footer {
        padding-top: 10px !important;
      }
      .col {
        flex: none !important;
      }
      h4 {
        padding-top: 30px;
      }
    }
    .description-wrapper {
      max-height: unset !important;
      overflow-y: auto;
      -webkit-mask-image: none;
    }
  }
  ul {
    padding-left: 5px !important;
  }
  li::before {
    padding-right: 5px;
  }
  .dropdown-menu {
    background: rgba(0, 0, 0, 0.8) !important;
  }
  .legacy {
    display: none !important;
  }
  .socials-tooltip {
    display: none !important;
  }
  .nav-top {
    position: fixed;
    top: 0;
    width: 100%;
    height: 6em;
    background: var(--bg-secondary);
  }
  .nav-bottom {
    display: flex;
    justify-content: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 30%;
    background: linear-gradient(
      0,
      var(--bg-secondary) 0%,
      var(--bg-secondary) 60%,
      rgba(0, 212, 255, 0) 100%
    );
  }
  .mobile-sticky {
    position: sticky;
  }
}

::-webkit-scrollbar {
  width: 8px;
  background: var(--bg-primary);
}

::-webkit-scrollbar-thumb {
  background: var(--primary);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

.flex {
  display: flex;
}

.flex-1 {
  flex: 1;
}

.justify-content-center {
  justify-content: center;
}

.align-items-center {
  align-items: center;
}

.full-page {
  height: 100vh;
}

.text-center {
  text-align: center;
}

// Animated glowing border

@property --angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

.glow-box {
  &::after,
  &::before {
    content: "";
    position: absolute;
    width: calc(100% + 10px);
    height: calc(100% + 10px);
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    z-index: -1;
    border-radius: 10px;
    background-image: conic-gradient(
      from var(--angle),
      transparent 5%,
      var(--secondary)
    );
    animation: 7s spin linear infinite;
  }

  &::before {
    filter: blur(1rem);
    opacity: 0.5;
  }
}

// Not animated (for non title cards)
.glow-box {
  &:not(:has(app-title-card)) {
    &::after,
    &::before {
      background: var(--secondary);
      animation: none;
      opacity: 0.7;
    }
  }
}

@keyframes spin {
  from {
    --angle: 0deg;
  }
  to {
    --angle: 360deg;
  }
}
