<div class="title-card-container">
  <div class="title-card">
    <div>
      <h1>Tom Hunter</h1>
    </div>
    <div>
      <h3><i class="bi-stack"></i>&ensp;Full-Stack Software Developer</h3>
    </div>
    <div class="text-title-page self-description">
      I'm a practiced professional at building and maintaining reliable, secure,
      and user-friendly apps. I excel at using modern skills to design and
      develop software solutions to industry needs.
    </div>
  </div>
</div>
