<div class="body-card">
  <div class="row body-title mobile-sticky">
    <h2>About Me</h2>
  </div>
  <div class="row description-wrapper">
    <div class="description text">
      <div class="row section">
        <!-- Description -->
        <p>
          <app-link (click)="helloThere()" [text]="'Hello there!'"></app-link>
          It's a pleasure to meet you.
        </p>
        <p>
          I live in Perth (Western Australia), I'm
          {{ age }} years old, and I work as a
          <app-link
            [url]="'https://www.w3schools.com/whatis/whatis_fullstack.asp'"
            [text]="'Full-Stack Software Developer'"
          ></app-link
          >, specialising in the creation and maintenance of web applications. I
          thoroughly enjoy creating software solutions, especially those that
          improve people's lives. I'm also an expert bug squasher, having
          diagnosed and fixed more defects than I could count.
        </p>
      </div>
      <div class="row">
        <div class="col">
          <!-- Hobbies -->
          <h4>My Hobbies</h4>
          <ul>
            <li>Playing video games</li>
            <li>Working out</li>
            <li>Bachata & Salsa dancing</li>
            <li>Soccer (social)</li>
            <li>Learning languages</li>
          </ul>

          <!-- Aspirations -->
          <h4>My Aspirations</h4>
          <ul>
            <li>Continue gaining expereince</li>
            <li>Expand my skillset</li>
            <li>Master my coding stack</li>
            <li>Take my expertise international</li>
          </ul>

          <!-- Principles -->
          <h4>My Principles</h4>
          <ul>
            <li>Work smarter, not harder</li>
            <li>KISS (Keep it simple silly)</li>
            <li>DRY (Don't repeat yourself)</li>
            <li>Question everything</li>
            <li>Readability beats overcommenting</li>
          </ul>
        </div>

        <!-- Studies -->
        <div class="col">
          <h4>My University Studies</h4>
          <p>
            <app-link
              [url]="
                'https://www.qut.edu.au/courses/bachelor-of-games-and-interactive-environments-software-technologies'
              "
              [text]="'Bachelor of Games and Interactive Environments'"
            ></app-link
            >, Queensland University of Technology (QUT) 2017-2020.
          </p>
          <p>
            I studied 24 subjects of programming, game development, and
            everything in-between. In this course I learnt all about software
            design, app creation, game engines, modelling, advanced software
            technologies, and UX. I created over a dozen games and software
            projects.
          </p>
          Achievements:
          <ul>
            <li>
              <span>Co-created </span>
              <app-link
                [text]="'BEEP\'s Adventure'"
                [url]="'assets/legacy/projects/BEEPs-Adventure.html'"
              ></app-link>
            </li>
            <li>
              <span>Solo-created </span>
              <app-link
                [text]="'Laserhand'"
                [url]="'assets/legacy/projects/Laserhand.html'"
              ></app-link>
            </li>
            <li>
              <span>1st place in an </span>
              <app-link
                [text]="'AI mech tournament'"
                [url]="'assets/legacy/projects/Mech-AI-Tournament.html'"
              ></app-link>
            </li>
            <li>
              <span>Created the </span>
              <app-link
                [text]="'legacy version of this website'"
                [url]="'assets/legacy/index.html'"
              ></app-link>
            </li>
            <li>Graduated with a GPA of 6.33 (90%)</li>
            <li>Magentus Security Awareness Champion (2024)</li>
          </ul>
        </div>
      </div>

      <p class="text-center footer">
        Check out my
        <app-link
          [url]="'assets/documents/Tom%20Hunter\'s%20Resume.pdf'"
          [text]="'resume'"
        ></app-link>
        for more info.
      </p>
    </div>
  </div>
</div>
